body {
  background-image: url('https://cutewallpaper.org/21/gif-wallpaper-1920x1080/Animated-GIFs-for-use-in-wallpapers.gif');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
